:root {
    --t-base: 16;

    --tw-normal-body: 400;
    --tw-xl-header: 600;
    --tw-xxl-header: 700;

    --t-font-family: -apple-system, BlinkMacSystemFront, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
}
